@page
@model Shop.UI.Pages.Admin.AccountTickets.AccountTicketsModel
@{
}

<div class="tabs is-centered">
    <ul>
        <li class="is-active"><a>Pending</a></li>
        <li><a>Approved</a></li>
        <li><a>Declined</a></li>
    </ul>
</div>