@page
@model Shop.UI.Pages.Admin.AccountTickets.AccountTicket_DeclinedModel
@{
}

<div class="tabs is-centered">
    <ul>
        <li><a asp-page="/Admin/AccountTickets/AccountTickets">Pending</a></li>
        <li><a asp-page="/Admin/AccountTickets/AccountTicket_Approval">Approved</a></li>
        <li class="is-active"><a asp-page="/Admin/AccountTickets/AccountTicket_Declined">Declined</a></li>
    </ul>
</div>

<div class="card events-card">
    <header class="card-header">
        <p class="card-header-title">
            GST Number Varification
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </a>
    </header>
    <div>
        <div class="card-table">
            <div class="content">
                <table class="table is-fullwidth is-striped">
                    <tbody>

                        @foreach (var x in Model.AccountTickets)
                        {
                            if (x.Status == Domain.Enums.TicketStatus.Denied)
                            {
                                <tr>
                                    <td>@x.FullName</td>
                                    <td>@x.CompanyName</td>
                                    <td>@x.GstNumber</td>
                                    <td><a href="#" @@click="editProduct(product.id, index)"> Approve </a></td>
                                    <td><a href="#" @@click="deleteProduct(product.id, index)"> Decline </a></td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <footer class="card-footer">
        <a href="#" class="card-footer-item">View All</a>
    </footer>
</div>