@page
@model Shop.UI.Pages.Admin.StockModel
@{
}

<div id="app">
    <div class="columns">







        <div class="column is-narrow">
            <div class="card events-card">
                <header class="card-header">
                    <p class="card-header-title">
                        Products
                    </p>
                </header>
                <div class="card-table">
                    <div class="content">
                        <table class="table is-narrow is-striped is-hoverable">
                            <tr v-for="product in products" @@click="selectProduct(product)">
                                <td>{{product.description}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item"></a>
                    @*<a href="#" class="card-footer-item">View All</a>*@
                </footer>
            </div>
        </div>
        <div class="container has-text-centered">
            <div class="column is-narrow" v-if="selectedProduct">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            New Stock
                        </p>
                    </header>
                    <div class="card-table">
                        <div class="content">
                            <table class="table is-narrow is-hoverable">
                                <tr v-for="(stock, index) in selectedProduct.stock">
                                    <td><input class="input" v-model="stock.description" /></td>
                                    <td><input class="input" v-model.number="stock.qty" /></td>
                                    <td><a class="has-text-danger" @@click="deleteStock(stock.id, index)">Delete</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="button-center has-text-centered">

                        <button class="button is-block is-info admin-panel-button" @@click="updateStock">Update Products</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="column is-narrow" v-if="selectedProduct">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Add New stock
                    </p>
                </header>
                <div class="card-table">
                    <div class="content">

                        <div class="field">
                            <div class="control">
                                <input class="input" v-model="newStock.description" />
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" v-model.number="newStock.qty" />
                            </div>
                        </div>
                        <a class="button is-success" @@click="addStock">Add</a>



                    </div>
                </div>

            </div>
        </div>











    </div>
</div>

@section scripts{
    <script src="~/js/admin/stock.js"></script>
}
