@model IEnumerable<Shop.Application.Cart.GetCart.Response>



<!-- Cart page -->
    <div class="card cart-page">
        <table class="table cart-table-design">
            <tbody>
                <tr>
                    <th class="cart-product-head">Product</th>
                    <th class="cart-product-head">Quantity</th>
                    <th class="cart-product-head">Subtotal</th>
                </tr>
                <tr>
                    <td class="cart-design">
                        <div class="cart-info">
                            <figure class="image is-128x128">
                                <img src="~/images/item.jpg" />
                            </figure>
                            <div>
                                <p>T-shirt</p>
                                <small>Price: $50.00</small>
                                <br>
                                <a href="">Remove</a>
                            </div>
                        </div>
                    </td>
                    <td class="cart-design">
                        <input type="number" value="1">
                    </td>
                    <td class="cart-design">
                        $50.00
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


