<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop.UI</title>
    <link rel="stylesheet" href="~/css/site.css" />

    <environment include="Development">
        <link href="~/lib/bulma/css/bulma.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link href="~/lib/bulma/css/bulma.min.css" rel="stylesheet" />
    </environment>

</head>
<body>
    <header>
        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Admin</a>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Shop.UI - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
