<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop.UI</title>
    <link rel="stylesheet" href="~/css/site.css" />

    <environment include="Development">
        <link href="~/lib/bulma/css/bulma.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link href="~/lib/bulma/css/bulma.min.css" rel="stylesheet" />
    </environment>

</head>
<body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" asp-page="/Index">
                @*<img src="~/images/title.png" width="112" height="28" />*@
                <img class="image" src="~/images/Womega_Combo.svg" height="360" width="120" />
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu is-fullheight">
            <div class="navbar-start">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="navbar-item" asp-area="" asp-page="/Admin/Index">
                        Admin
                    </a>
                }
            </div>

            <div class="navbar-end">
                <vc:cart view="Small"></vc:cart>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="navbar-item" asp-area="" asp-controller="Account" asp-action="Logout">Sign Out</a>
                }
                else
                {
                    <a class="navbar-item" asp-area="" asp-page="/Accounts/Login">Sign In</a>
                }
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                &copy; 2021 - Womega - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </p>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
