@*@model IEnumerable<Shop.Application.Cart.GetCart.Response>*@
@model string

@{

}

<a asp-page="/Cart" class="navbar-item" id="cart-nav">

    Cart @Model

    @*@foreach (var product in Model)
        {
            <div>
                <span>@product.Name -</span>
                <span>@product.Value -</span>
                <span>@product.Qty -</span>
            </div>
        }*@

</a>